html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: italic;
}

section {
    height: 100%;
    overflow: hidden;
}

footer ul li {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

footer ul li button {
    width: 150px;
    height: 65px;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    transition: 0.5s;

}

footer ul li button:hover {
    color: red;
    letter-spacing: 0.2rem;
}