<div class="navigation">
    <ul>
        <li>
            <button>
                DD Creator
            </button>
        </li>
        <li>
            <a href="#">
                Menu Configuration
            </a>
        </li>
        <li>
            <a href=" #">
                Trasnsactions Configuration
            </a>
        </li>
        <li>
            <a href="#">
                Common Configurations
            </a>
        </li>
        <li>
            <a href="#">
                Quick Pick Menu Configurations
            </a>
        </li>
    </ul>
</div>