<div class="header">
    <a href="#" class="logo"> DD BUILDER</a>

    <ul class="navigation">
        <li>
                    <a routerLink="/menu"> MENU'S </a>
                    </li>
    
                <li>
                    <a href="#"> TRANSACTION'S</a>
                    </li>
    
                <li>
                    <a href="#"> COMMON CONFIGURATION'S</a>
                    </li>
    
                <li>
                    <a href="#"> QUICK PICK MENU</a>
                    </li>
                    </ul>
</div>
