.header {
    position: relative;
    background-color: black;
        width: 100%;
            padding: 40px 100px;
            display: flex;
            align-items: center;
            transition: 0.5s;
}

.header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

.header .navigation {
    position: relative;
    display: flex;
}

.header .navigation li {
    list-style: none;
    margin-left: 30px;
}

.header .navigation li a {
    text-decoration: none;
    color: #fff;
}

.header .navigation li:hover a {
    color: red;
    letter-spacing: 0.5rem;
}
